<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset='utf-8'>
    <title>Car card owner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="/css/table.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>

    <!--fancyBox-->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <form>
            <button class="btn btn-primary" th:formaction="@{/cars}">Main</button>
        </form>
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Cars sale</h3>
            </div>
            <table class="table">
                <thead>
                <tr class="filters">
                    <th></th>
                    <th><input type="text" class="form-control" placeholder="Brand" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Model" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Transmission" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Suspension" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Engine" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Sold" disabled></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <form id="carEdit" method="post">
                        <td><input name="id" type="hidden" th:field="${car.id}"></td>
                        <td><input name="brand" type="text" th:field="${car.brand}" class="form-control"
                                   placeholder="Brand"></td>
                        <td><input name="model" type="text" th:field="${car.model}" class="form-control"
                                   placeholder="Model"></td>
                        <td><input name="transmission" type="text" th:field="${car.transmission.name}"
                                   class="form-control"
                                   placeholder="Transmission"></td>
                        <td><input name="suspension" type="text" th:field="${car.suspension.name}" class="form-control"
                                   placeholder="Suspension"></td>
                        <td><input name="engine" type="text" th:field="${car.engine.name}" class="form-control"
                                   placeholder="Engine">
                        </td>
                        <td>
                            <select name="sold" class="form-control" th:field="${car.sold}">
                                <option value="false">For sale</option>
                                <option value="true">Sold</option>
                            </select>
                        </td>
                        <td>
                            <label class="btn btn-primary">
                                Save<input type="submit" th:formaction="@{/carcard}" value="Save"
                                           style="display: none;">
                            </label>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
            <div th:each="img : ${car.images}">
                <a data-fancybox="gallery" th:href="'uploads/' + ${img.name}">
                    <img th:src="'uploads/thumb_' + ${img.name}"/>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>