<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--<servlet>-->
    <!--<servlet-name>UserCreate</servlet-name>-->
    <!--<servlet-class>ru.job4j.crud.UserCreate</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>UserCreate</servlet-name>-->
    <!--<url-pattern>/create</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>UserEdit</servlet-name>-->
    <!--<servlet-class>ru.job4j.crud.UserEdit</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>UserEdit</servlet-name>-->
    <!--<url-pattern>/edit</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>UserList</servlet-name>-->
    <!--<servlet-class>ru.job4j.crud.UserList</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>UserList</servlet-name>-->
    <!--<url-pattern>/list</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ru.job4j.musicvenue.controllers.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>ru.job4j.musicvenue.controllers.UsersList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
    <!--<servlet-name>UserLogin</servlet-name>-->
    <!--<servlet-class>ru.job4j.crud.UserLogin</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>UserLogin</servlet-name>-->
    <!--<url-pattern>/login</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>Countries</servlet-name>-->
    <!--<servlet-class>ru.job4j.crud.Countries</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>Countries</servlet-name>-->
    <!--<url-pattern>/countries</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>Cities</servlet-name>-->
    <!--<servlet-class>ru.job4j.crud.Cities</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>Cities</servlet-name>-->
    <!--<url-pattern>/cities</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<filter>-->
    <!--<filter-name>AuthorizationFilter</filter-name>-->
    <!--<filter-class>ru.job4j.crud.AuthorizationFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>AuthorizationFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
</web-app>
